In [3]:
import yfinance as yf
dat = yf.Ticker("MSFT")

In [4]:
dat = yf.Ticker("MSFT")
dat.info
dat.calendar
dat.analyst_price_targets
dat.quarterly_income_stmt
dat.history(period='1mo')
dat.option_chain(dat.options[0]).calls

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,MSFT250221C00200000,2025-02-18 16:12:31+00:00,200.0,208.82,208.25,209.85,0.350006,0.167893,5.0,28,3.269533,True,REGULAR,USD
1,MSFT250221C00210000,2025-01-07 15:40:33+00:00,210.0,217.15,0.00,0.00,0.000000,0.000000,2.0,6,0.000010,True,REGULAR,USD
2,MSFT250221C00220000,2025-02-07 17:48:49+00:00,220.0,191.27,188.25,189.80,0.000000,0.000000,5.0,193,2.855472,True,REGULAR,USD
3,MSFT250221C00230000,2025-01-10 19:30:54+00:00,230.0,192.35,176.65,180.05,0.000000,0.000000,392.0,401,3.148440,True,REGULAR,USD
4,MSFT250221C00240000,2025-02-13 17:39:53+00:00,240.0,168.32,168.25,169.90,0.000000,0.000000,2.0,27,2.523441,True,REGULAR,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,MSFT250221C00580000,2025-01-31 20:43:54+00:00,580.0,0.01,0.00,0.15,0.000000,0.000000,1.0,542,1.255863,False,REGULAR,USD
85,MSFT250221C00590000,2025-02-03 14:30:41+00:00,590.0,0.01,0.00,0.01,0.000000,0.000000,1.0,375,1.031255,False,REGULAR,USD
86,MSFT250221C00600000,2025-01-29 20:52:11+00:00,600.0,0.02,0.00,0.02,0.000000,0.000000,28.0,472,1.140629,False,REGULAR,USD
87,MSFT250221C00610000,2025-02-11 19:34:00+00:00,610.0,0.01,0.00,0.10,0.000000,0.000000,15.0,95,1.359378,False,REGULAR,USD
88,MSFT250221C00620000,2025-01-28 17:15:05+00:00,620.0,0.02,0.00,0.01,0.000000,0.000000,25.0,251,1.156254,False,REGULAR,USD

In [5]:
tickers = yf.Tickers('MSFT AAPL GOOG')
tickers.tickers['MSFT'].info
yf.download(['MSFT', 'AAPL', 'GOOG'], period='1mo')

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  3 of 3 completed

Price            Close                                High              \
Ticker            AAPL        GOOG        MSFT        AAPL        GOOG
Date
2025-01-21  222.395477  199.630005  428.500000  224.173521  203.839996
2025-01-22  223.584167  200.029999  446.200012  223.873842  202.119995
2025-01-23  223.414368  199.580002  446.709991  226.780662  201.940002
2025-01-24  222.535324  201.899994  444.059998  225.382200  202.570007
2025-01-27  229.607544  193.770004  434.559998  231.895022  198.669998
2025-01-28  237.998322  197.070007  447.200012  239.926210  197.229996
2025-01-29  239.097122  197.179993  442.329987  239.596573  198.460007
2025-01-30  237.329056  202.630005  414.989990  240.525538  203.238007
2025-01-31  235.740814  205.600006  415.059998  246.918527  207.080002
2025-02-03  227.759583  202.639999  410.920013  231.575395  205.220001
2025-02-04  232.544327  207.710007  412.369995  232.873966  208.699997
2025-02-05  232.214691  193.300003  413.290009  232.414468  194.550003
2025-02-06  232.963867  193.309998  415.820007  233.543232  193.830002
2025-02-07  227.380005  187.139999  409.750000  233.743004  193.014999
2025-02-10  227.649994  188.199997  412.220001  230.589996  189.990005
2025-02-11  232.619995  187.070007  411.440002  235.229996  188.800003
2025-02-12  236.869995  185.429993  409.040009  236.960007  186.830002
2025-02-13  241.529999  187.880005  410.540009  242.339996  187.990005
2025-02-14  244.600006  186.869995  408.429993  245.550003  188.149994
2025-02-18  244.270004  185.360001  408.347107  245.179993  187.779999

Price                          Low                                Open  \
Ticker            MSFT        AAPL        GOOG        MSFT        AAPL
Date
2025-01-21  430.899994  219.139063  199.440002  425.600006  223.753984
2025-01-22  447.269989  219.548596  199.199997  436.000000  219.548596
2025-01-23  446.750000  222.055861  196.820007  441.500000  224.493183
2025-01-24  446.649994  221.166834  199.783997  441.399994  224.533128
2025-01-27  435.200012  223.733997  192.699997  423.500000  223.773962
2025-01-28  448.380005  230.556507  192.610001  431.380005  230.596471
2025-01-29  446.880005  233.752992  195.190002  440.399994  233.862872
2025-01-30  422.859985  236.949483  199.472000  413.160004  238.407871
2025-01-31  420.690002  233.183628  203.580002  414.910004  246.918527
2025-02-03  415.410004  225.452122  201.660004  408.660004  229.737419
2025-02-04  413.920013  226.401072  204.259995  409.739990  227.000419
2025-02-05  413.829987  228.019307  189.910004  410.399994  228.279016
2025-02-06  418.200012  230.176923  190.490005  414.000000  231.035979
2025-02-07  418.649994  227.010401  185.100006  408.100006  232.344548
2025-02-10  415.459991  227.199997  187.610001  410.920013  229.570007
2025-02-11  412.489990  228.130005  186.080002  409.299988  228.199997
2025-02-12  410.750000  230.679993  183.630005  404.369995  231.199997
2025-02-13  411.000000  235.570007  184.880005  406.359985  236.910004
2025-02-14  408.910004  240.990005  186.110001  405.880005  241.250000
2025-02-18  410.596985  242.860107  185.309998  407.790009  243.910004

Price                                  Volume
Ticker            GOOG        MSFT       AAPL      GOOG      MSFT
Date
2025-01-21  200.509995  430.200012   98070400  19005200  26085700
2025-01-22  200.550003  437.559998   64126500  15477400  27803800
2025-01-23  199.979996  442.000000   60234800  15170800  18389300
2025-01-24  199.850006  445.160004   54697900  12732400  15549500
2025-01-27  194.190002  424.010010   94863400  24970200  35647800
2025-01-28  194.649994  434.600006   75707600  15939200  23491700
2025-01-29  197.369995  446.690002   45486100  12287800  23581400
2025-01-30  199.759995  418.769989   55658300  14571500  54586300
2025-01-31  203.714996  418.980011  101075100  17087300  34223400
2025-02-03  202.214996  411.600006   73063300  16719500  25679100
2025-02-04  204.500000  412.690002   45067300  28285400  20532100
2025-02-05  193.100006  412.350006   39620300  43666400  16316700
2025-02-06  190.990005  414.000000   29925300  20816600  16309800
2025-02-07  192.740005  416.480011   39707200  29565700  22886800
2025-02-10  189.059998  413.709991   33115600  16606000  20817900
2025-02-11  186.835007  409.640015   53718400  13028100  18140600
2025-02-12  185.229996  407.209991   45243300  17632300  19121700
2025-02-13  185.929993  407.000000   53614100  12729300  23891700
2025-02-14  186.830002  407.790009   40838100  12673300  22680000
2025-02-18  187.380005  408.195007   17232514   7885715   7649577

In [6]:
spy = yf.Ticker('SPY').funds_data
spy.description
spy.top_holdings

                                  Name  Holding Percent
Symbol
AAPL                         Apple Inc         0.069699
MSFT                    Microsoft Corp         0.060293
NVDA                       NVIDIA Corp         0.057546
AMZN                    Amazon.com Inc         0.043459
META        Meta Platforms Inc Class A         0.029354
GOOGL             Alphabet Inc Class A         0.023291
TSLA                         Tesla Inc         0.022077
AVGO                      Broadcom Inc         0.020192
GOOG              Alphabet Inc Class C         0.019118
BRK-B   Berkshire Hathaway Inc Class B         0.016784

In [7]:
data = yf.download(
    tickers='bitcoin-USD',
    period='1y',
    interval='1d',
    progress=False
)
data.reset_index(inplace=True)

In [8]:
data

Price        Date       Close        High         Low        Open      Volume
Ticker            BITCOIN-USD BITCOIN-USD BITCOIN-USD BITCOIN-USD BITCOIN-USD
0      2024-02-18         0.0         NaN         NaN         NaN         376
1      2024-02-19         0.0         NaN         NaN         NaN        2229
2      2024-02-20         0.0         NaN         NaN         NaN         192
3      2024-02-21         0.0         NaN         NaN         NaN          54
4      2024-02-22         0.0         NaN         NaN         NaN        1481
..            ...         ...         ...         ...         ...         ...
117    2024-06-20         0.0         NaN         NaN         NaN          55
118    2024-06-21         0.0         NaN         NaN         NaN          26
119    2024-06-22         0.0         NaN         NaN         NaN          20
120    2024-06-23         0.0         NaN         NaN         NaN         219
121    2024-06-24         0.0         NaN         NaN         NaN           5

[122 rows x 6 columns]

In [12]:
import yfinance as yf
data = yf.download("BTC-USD", start="2024-02-18", end="2024-06-23")
data.head()

[*********************100%***********************]  1 of 1 completed

Price,Close,High,Low,Open,Volume
Ticker,BTC-USD,BTC-USD,BTC-USD,BTC-USD,BTC-USD
Date,,,,,
2024-02-18,52122.546875,52356.964844,51233.707031,51661.968750,17595377311
2024-02-19,51779.144531,52483.324219,51711.820312,52134.812500,21362184346
2024-02-20,52284.875000,52945.050781,50792.312500,51777.726562,33353758256
2024-02-21,51839.179688,52368.816406,50671.757812,52273.535156,28624907020
2024-02-22,51304.972656,52009.613281,50926.292969,51854.644531,25413900611